.content{
    display: grid;
    grid-template-rows: 30px 1fr 2fr;
    grid-gap: 5px;
    grid-template-areas: "name"
                        "status"
                        "info";
}
.name{
    font-size: 26px;
    grid-area: name;
}
.status{
    gap: 0;
    margin: 0;
    grid-area: status;
}
.status div{
    gap: 0;
    margin: 0;
}
.info{
    grid-area: info;
}
