.preLoaders{
    width: 78%;
    height: 86%;
    border-radius: 5px;
    position: absolute;
}
.preLoaderBackground{
    width: 67%;
    border-radius: 5px;
    height: 105.3%;
    background: gray;
    opacity: 0.1;
}
.preLoaders img{
    top: 40%;
    left: 30%;
    background: white;
    border: 3px solid black;
    border-radius: 50%;
    z-index: 3;
    position: absolute;
}