.UsersField{
    width: 80%;
    margin: 0 auto 0 3%;
}
.UsersPage{
    padding: 20px 20px 0 20px;
    height: 96%;
    display: grid;
    grid-template-rows: 0.05fr 0.90fr 0.05fr;

}
.paginnatorBox{
    width: 30%;
    margin: 0 auto 0 20%;
    border: 2px solid #9E7B9B;
    border-left: none;
    border-right: none;
    font-size: 12px;
    display: grid;
    border-radius: 2px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "goLeft pages goRigth";
}
.goLeftPage{

}
.pagesBox{
    font-size: 14px;
    letter-spacing: 1px;
    margin: auto;
}
.goRigthPage{

}
.goRigthPage button,
.goLeftPage button{
    width: 50%;
    height: 100%;
    background: none;
    border: none;
    outline: none;

}
.goLeftPage .OneToLeft,
.goRigthPage .OneToRigth,
.goRigthPage .MaxToRigth,
.goLeftPage .MaxToLeft{
    transition: all 0.1s;
    left: 0;
    position: relative;
}
.goLeftPage .OneToLeft:active{
    left: -3%;
    transition: all 0.1s;
}
.goLeftPage .MaxToLeft:active{
    left: -3%;
    transition: all 0.1s;
}
.goRigthPage .OneToRigth:active{
    left: 3%;
    transition: all 0.1s;
}
.goRigthPage .MaxToRigth:active{
    left: 3%;
    transition: all 0.1s;
}

.goLeftPage .OneToLeft::before,
.goLeftPage .OneToLeft::after,
.goRigthPage .OneToRigth::before,
.goRigthPage .OneToRigth::after,
.goRigthPage .MaxToRigth::before,
.goRigthPage .MaxToRigth::after,
.goLeftPage .MaxToLeft::before,
.goLeftPage .MaxToLeft::after,
.goRigthPage .MaxToRigth span::before,
.goRigthPage .MaxToRigth span::after,
.goLeftPage .MaxToLeft span::before,
.goLeftPage .MaxToLeft span::after{
    content: "";
    background: #0E1116;
    width: 30%;
    height: 5%;
    border-radius: 5px;
    position: absolute;
    top: 34%;
    transform: rotate(-25deg);
    left: 30%;
}
.goLeftPage .OneToLeft:hover,
.goRigthPage .OneToRigth:hover,
.goLeftPage .MaxToLeft:hover,
.goRigthPage .MaxToRigth:hover{

    border: 2px solid #9E7B9B;
    border-top: none;
    border-bottom: none;
}
.goLeftPage .OneToLeft:disabled:hover,
.goRigthPage .OneToRigth:disabled:hover,
.goLeftPage .MaxToLeft:disabled:hover,
.goRigthPage .MaxToRigth:disabled:hover{
    border: none;
}
.goLeftPage .OneToLeft::after,
.goRigthPage .OneToRigth::after,
.goRigthPage .MaxToRigth::after,
.goRigthPage .MaxToRigth span::after,
.goLeftPage .MaxToLeft::after,
.goLeftPage .MaxToLeft span::after{
    transform: rotate(25deg);
    top: 56%;
}
.goLeftPage .OneToLeft::after,
.goLeftPage .OneToLeft::before{
    left: 40%;
}
.goRigthPage .OneToRigth::after,
.goRigthPage .MaxToRigth::after,
.goRigthPage .MaxToRigth span::after{
    transform: rotate(-25deg);
}
.goRigthPage .OneToRigth::before,
.goRigthPage .MaxToRigth::before,
.goRigthPage .MaxToRigth span::before{
    transform: rotate(25deg);
}
.goLeftPage .MaxToLeft::after,
.goLeftPage .MaxToLeft::before{
    left: 40%;
}
.goLeftPage .MaxToLeft span::after,
.goLeftPage .MaxToLeft span::before{
    left: 20%;
}

.goRigthPage .MaxToRigth span::before,
.goRigthPage .MaxToRigth span::after{
    left: 50%;
}
.MaxToRigth:disabled::before,
.MaxToRigth:disabled::after,
.MaxToRigth:disabled span::before,
.MaxToRigth:disabled span::after,
.MaxToLeft:disabled::before,
.MaxToLeft:disabled::after,
.MaxToLeft:disabled span::before,
.MaxToLeft:disabled span::after,
.OneToLeft:disabled::before,
.OneToLeft:disabled::after,
.OneToRigth:disabled::before,
.OneToRigth:disabled::after{
    background: gray;
}
.avatar{
    grid-area: avatar;
    margin: 0 auto;
}
.avatar img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.item{
    grid-gap: 0 10px;
    display: grid;
    grid-template-rows: 0.8fr 0.2fr;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-areas: "avatar info"
                         "flbutton info";
    margin: 20px 0 20px 0;
}
.ToogleFollowBtn{
    grid-area: flbutton;
    margin: auto;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #9E7B9B;
    outline: none;
    border: none;
    border-radius: 2px;
    top:0;
    position: relative;
    transition: all 0.1s;
}
.ToogleFollowBtn:active{
    outline: none;
    border: none;
    position: relative;
    top: 3px;
    transition: all 0.1s;
}
.ToogleFollowBtn:disabled{
    opacity: 0.3;
}
.ToogleFollowBtn:disabled:active{
    top:0;
}
.userInfo{
    border-radius: 10px;
    border: 1px solid black;
    grid-area: info;
    padding: 10px;
    grid-gap: 30px 0;
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    grid-template-rows: 0.7fr 0.3fr;
    grid-template-areas: "fullname country"
                         "status city";
}
.fullname{
    grid-area: fullname;
}
.status{
    grid-area: status;
}
.country{
    grid-area: country;
}.city{
     grid-area: city;
 }
.unfollow{
    background-color: #9E7B9B;
}
.follow{
    background-color: white;
    color: #374A67;
    border: 1px solid #9E7B9B;
}
.follow:disabled{
    border: none;
}

