.content{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 20px;
}
.avatarBox{
    width: 150px;
    height: 200px;
    display: grid;
    grid-template-rows:  1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "av av av"
                         "ca ca ca";
}
.avatar{
    width: 150px;
    height: 100px;
    border-radius: 5px;
    grid-area: av;
}
.avatar img{
    width: 100%;
    border-radius: 5px;
    height:100%;
}
.changeAvatarBox{
    grid-area: ca;
    opacity: 0;
    display: grid;
    grid-template-rows:   1fr 20px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "aa aa aa"
                         "in in in"
                         "bp bn bs";
}


.addBtn{
    grid-area: bs;
}
.urlInput{
    width: 95%;
    grid-area: in;
}
.nextBtn{
    grid-area: bn;
}
.prevBtn{
    grid-area: bp;
}
.allAvatar{
    grid-area: aa;
}